@{
    ViewBag.Title = "Home";
}

@using StefanPeevBlog.Models

@model List<StefanPeevBlog.Models.Post>




<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <h1 class="page-header">
            Latest Posts
        </h1>
        <!-- Latest Blog Post's -->
        @foreach (var post in Model)
        {
            <h2>
                <a href=@Url.Action("../Posts/Details/" + post.Id)>@post.Title</a>
            </h2>
            <p class="lead">
                @{
                    string name;
                    if (post.Author == null)
                    {
                        name = "Anonymous";
                    }
                    else
                    {
                        name = post.Author.UserName;
                    }
                }
                Posted by
                @Html.ActionLink(name, "Info", "Account", new { id = name }, new { })
                @*<a href="../Account/Info/@name" class="">
                    @name

                    @* --------------------------------------------------------------- *@
                @* tooltipview *@
                @* --------------------------------------------------------------- *@
                @* --------------------------------------------------------------- *@
                @* tooltipview end *@
                @* --------------------------------------------------------------- *@
                @*</a> *@
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on @post.Date</p>
            <p><span class="glyphicon glyphicon-eye-open"></span> @post.TimesVisited Views</p>
            <hr>
                    var image = post.ImagePath != null ? Url.Content(post.ImagePath) : null /*Url.Content("~/ImagesPostUploaded/NoImagePost.png")*/;
                    if (image != null)
                    {
                        <img class="img-responsive" src="@image" alt="">
                        <hr>
                    }
                    <p class="post-body">@post.Body</p>
                    <p>@Html.ActionLink(post.Comments.Count + " Comments", "Details", "Posts", new { id = post.Id }, new { })</p>
                    <a class="btn btn-primary" href=@Url.Action("../Posts/Details/" + post.Id)>Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <hr>
                    }
        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul>

        <h1 class="page-header">
            Most Popular Posts
        </h1>
        <!-- Most Popular Blog Post's -->
        @foreach (var post in ViewBag.MostPopular)
        {
            <h2>
                <a href=@Url.Action("../Posts/Details/" + post.Id)>@post.Title</a>
            </h2>
            <p class="lead">
                @{
                    string name;
                    if (post.Author == null)
                    {
                        name = "Anonymous";
                    }
                    else
                    {
                        name = post.Author.UserName;
                    }
                }
                Posted by
                @Html.ActionLink(name, "Info", "Account", new { id = name }, new { })
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on @post.Date</p>
            <p><span class="glyphicon glyphicon-eye-open"></span> @post.TimesVisited Views</p>
            <hr />

                    var image = post.ImagePath != null ? Url.Content(post.ImagePath) : Url.Content("~/ImagesPostUploaded/NoImagePost.png");

                    <img class="img-responsive" src="@image" alt="">
                    <hr>
                    <p class="post-body">@post.Body</p>
                    <a class="btn btn-primary" href=@Url.Action("../Posts/Details/" + post.Id)>Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <hr>
                    }
        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Blog Search Well -->
        @using (Html.BeginForm())
        {
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    @Html.TextBox("SearchString", "Search in title and body", new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" value="Search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
        }
        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Blog Categories</h4>
            <div class="row">
                <ul class="list-unstyled list-categories">
                    @foreach (var category in ViewBag.Categories)
                    {
                        <li>
                            @Html.ActionLink(((string)category.CategoryName), "CategoryAllPosts", "Posts", new { id = category.CategoryId }, new { })
                        </li>
                    }
                </ul>
                <!-- /.row -->
            </div>
        </div>
        <!-- Side Widget Well -->
        <div class="well">
            <h4>Special Events</h4>
            <div class="events">
                @foreach (var Event in ViewBag.Events)
                {
                    @Html.ActionLink((string)Event.EventTitle, "Details", "Events", new { id = Event.EventId }, new { })
                    <br />
                }
            </div>
        </div>
    </div>

</div>
<!-- /.row -->
<hr>


<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</footer>

@section styles{
    @Styles.Render("~/Content/HomeIndexPage.css")
}