@model StefanPeevBlog.Models.Post
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
}

@*<%-- used for ajax in AddAntiForgeryToken() --%>*@
<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form> 

<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
        <!-- Blog Post -->
        <!-- Title -->
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <!-- Author -->
        <p class="lead">
            @{
                string name;
                if (Model.Author == null)
                {
                    name = "Anonymous";
                }
                else
                {
                    name = Model.Author.UserName;
                }
            }
            by @Html.ActionLink(name, "Info", "Account", new { id = name },new { })
            <br />
            @if (User.Identity.Name == Model.Author.UserName || User.IsInRole("Administrators"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id });
                @:|
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id });
            }
        </p>
        <hr>
        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> @Html.DisplayFor(model => model.Date)</p>
        <hr>
        <!-- Preview Image -->
        @{
            var image = Model.ImagePath != null ? Url.Content(Model.ImagePath) : Url.Content("~/ImagesPostUploaded/NoImagePost.png");
        }
        <img class="img-responsive" src="@image" alt="">
        <hr>
        <!-- Post Content -->
        <p class="lead">@Html.DisplayFor(model => model.Body)</p>
        <hr>
        <!-- Blog Comments -->
        <!-- Comments Form -->
        @Html.Partial("~/Views/Comments/CreatePartial.cshtml", new StefanPeevBlog.Models.Comments() { AuthorId = User.Identity.GetUserId(), PostId = Model.Id })


        <hr>
        <!-- Posted Comments -->
        <!-- Comment -->
        @*<div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            <!-- Comment -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <!-- Nested Comment -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Nested Start Bootstrap
                                <small>August 25, 2014 at 9:30 PM</small>
                            </h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                    <!-- End Nested Comment -->
                </div>
            </div>*@
        <div class="comments">
            @Html.Partial("Comments", new StefanPeevBlog.Models.CommentsTreeViewModel()
       { CommentsTree = new HashSet<StefanPeevBlog.Models.Comments>(Model.Comments), CurrentComment = null })
        </div>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Blog Search Well -->
        @*<div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>*@
        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Blog Categories</h4>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled list-categories">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <li>
                                @Html.ActionLink(((string)category.CategoryName), "CategoryAllPosts", "Posts", new { id = category.CategoryId }, new { })
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- Side Widget Well -->
        <div class="well">
            <h4>Side Events Widget </h4>
            <p>Panel for special events posteb by the admin.</p>
        </div>
    </div>
</div>
<!-- /.row -->